<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Enter a car brand of your choice</h1>

    <form action="/" method="POST">
        <input type="text" placeholder="Enter car name" name="name">
        <input type="text" placeholder="Enter car brand" name="brand">
        <input type="text" placeholder="Enter year of manufacture" name="year">
        <input type="submit">
    </form>

    <h2> The car brands you own are :  </h2>
        <%= cars %>
    <ul class="cars">
        <% for (var i=0; i < cars.length; i++) {%>
            <li class="car">
                <span><%= cars[i].name %></span>
                <span><%= cars[i].brand %></span>
                <span><%= cars[i].year %></span>
            </li>
        <% } %>    
        
    </ul>
</body>
</html>